apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: hello-kubernetes-ingress
  annotations:
    kubernetes.io/ingress.class: "public"
spec:
  rules:
  - host: app1.vindpro.net
    http:
      paths:
      - backend:
          serviceName: hello-kubernetes-first
          servicePort: 80
