
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  namespace: ingress-nginx
  name: hello-kubernetes-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
  - host: app1.vindpro.dev
    http:
      paths:
      - backend:
          serviceName: hello-kubernetes-first
          servicePort: 80
