apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: app1-vs
spec:
  hosts:
  - sample3.vindpro.dev
  gateways:
  - app-gateway
  http:
  - route:
    - destination:
        host: hello-kubernetes-first
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: app2-vs
spec:
  hosts:
  - sample4.vindpro.dev
  gateways:
  - app-gateway
  http:
  - route:
    - destination:
        host: hello-kubernetes-second
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: proxy-vs
spec:
  hosts:
  - proxy-istio.vindpro.dev
  gateways:
  - app-gateway
  http:
  - route:
    - destination:
        host: proxy
