apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: apps-vindpro-dev-tls
spec:
  secretName: apps-vindpro-dev-tls
  commonName: samples.vindpro.dev
  dnsNames:
  - sample3.vindpro.dev
  - sample4.vindpro.dev
  issuerRef:
    kind: ClusterIssuer
    name: letsencrypt-prod
    
